<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Indie+Flower|Poiret+One|Raleway:300,400,500,600,700|Roboto+Mono:300,400" rel="stylesheet">
    <title>Chat Socket.io</title>
</head>
<body>
<div class="row">
    <nav>
        <div class="nav-wrapper #880e4f pink darken-4">
            <div class="container">
                <a href="#" class="brand-logo">T&G</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#!" class="signupBtn">S'inscrire</a></li>
                    <li><a href="#!" class="loginBtn">Se Connecter</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <p>Allo{{msg}}</p>

    <div class="#66bb6a green lighten-1 center-align">
        <div class="container">
            <p>{{title}}</p>
        </div>
    </div>
</div>
<!-- Formulaire d'inscription  -->
<div class="container">
    <div class="row card-panel col s12 hiddenSignup">
        <h2 class="#880e4f pink-text darken-4-text">Inscris toi</h2>
        <form action="/" method="post" id="signupForm" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="pseudonyme" type="text" name="pseudonyme" class="validate">
                    <label for="pseudonyme">Pseudo</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">mail</i>
                    <input id="email" type="email" name="email" class="validate">
                    <label for="email">Mail</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">lock</i>
                    <input id="pass" type="password" name="pass" class="validate">
                    <label for="pass">Password</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">lock</i>
                    <input id="confirmPass" name="confirmPass" type="password" class="validate">
                    <label for="confirmPass">Confirmation Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">cake</i>
                    <input type="date" id="dob" name="dob" class="datepicker">
                    <label for="dob">Date de naissance</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light pink darken-4" id="880e4f" type="submit">Envoyer</button>
        </form>
    </div>
</div>

<!-- Formulaire de connection -->
<div class="container">
    <div class="row">
        <form action="" method="post" id="loginForm" class="col s12 right hiddenLogin">
            <div class="row right">
                <div class="input-field col s5">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="pseudo" class="validate">
                    <label for="pseudo">Pseudo</label>
                </div>
                <div class="input-field col s5">
                    <i class="material-icons prefix">lock_open</i>
                    <input type="password" id="mdp" class="validate">
                    <label for="mdp">Password</label>
                </div>
                <button class="btn-floating btn-large waves-effect waves-light #880e4f pink darken-4" type="submit">
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
    <!-- End Of LoginForm -->
    <!-- Section Chat -->
    <section id="chat" class="msgChat col s8 card-panel">
        <h2 class="#880e4f pink-text darken-4-text">T&G</h2>
        <div class="row">
            <div class="msgContainer">
                <span class="titleMsg #fce4ec pink lighten-5">Messages</span>
                <div class="users"></div>
                <ul class="msg"></ul>
            </div>
        </div>
        <!-- Formulaire de tchat -->
        <div class="row">
            <form action="" class="col s12 containerForm">
                <div class="row">
                    <div class="input-field col s10">
                        <i class="material-icons prefix">forum</i>
                        <input id="sendMsg" type="text" class="validate">
                        <label for="sendMsg">Kesako ?</label>
                    </div>
                    <div class="input-field col s2">
                        <div class="input-field col s12">
                            <button class="btn-flat waves-effect waves-light #880e4f pink-text darken-4-text" type="submit">Send</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Of formMsg -->
    </section>
</div>
<footer id="footer">
    <div class="container">
        <span class="copyright">&copy; T&G - 2017 | By LilSaint</span>
    </div>
</footer>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<!--<script src="/socket.io/socket.io.js"></script>-->
<script src="js/materialize.min.js"></script>
<script src="js/client.js"></script>
<script src="js/app.js"></script>
</body>
</html>