body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.hiddenLogin, .hiddenSignup {
    display: none;
}

.containerForm {
    margin-top: 50px;
    padding-left: 100px !important;
}

.msgContainer {
    border: 1px solid #fce4ec;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(136, 14, 79, 0.36);
}

.titleMsg {
    display: block;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 20px auto 0 auto;
    font-family: 'Poiret One', cursive;
    font-size: 1.2rem;
    text-align: center;
}

.bold {
    font-weight: 800;
}

.error {
    background-color: #b71c1c;
    padding: 10px;
    box-sizing: border-box;
    color: #FFF;
}

.padding-container {
    padding: 100px 0;
    box-sizing: border-box;
}

