<% include header %>
<div class="container clearfix padding-container">
    <!-- **************** Section logout **************** -->
    <div class="row">
        <div class="col s6 center-block">
            <!--<p>Bienvenue < %= user.username % ></p>-->
            <a href="/logout" class="btn btn-waves error right #b71c1c red darken-4">Logout</a>
        </div>
    </div> <!-- End Of .row logout -->
    <!-- **************** Section infos channels **************** -->
    <div class="row">
        <div class="col s6 center-block">
            <div class="card-panel">
                <div class="row">
                    <p class="bold">Channels</p>
                    <p class="channelNum"><%= channels.length %> Channel(s) ouvert(s)</p>
                </div>
                <div class="row createChannel">
                    <!--<form action="" class="">-->
                        <div class="input-field">
                            <input type="text" id="titleChannel" name="titleChannel" class="validate">
                            <label for="titleChannel">Nom du channel</label>
                        </div>
                        <button class="btn btn-waves #66bb6a green lighten-1">Créer</button>
                    <!--</form>-->
                </div>
            </div>
        </div>
    </div> <!-- End Of .row channel.length -->
    <!-- **************** Section form add channels **************** -->
    <div class="row">
        <div class="col s6 center-block">
            <div class="card-panel channelList">
                <ul class="collection">
                    <% if (channels.length > 0) { %>
                    <% channels.forEach(function (channel) { %>
                    <a href="/tchat/<%= channel.id %>" class="center-align #880e4f pink darken-4 collection-item">
                        <li class="channelItem white-text"><%= channel.title %></li>
                    </a>
                    <% }); %>
                    <% } else { %>
                    <p class="center-align msg">So comment !!! Soit le 1er à créé un channel</p>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="container">
        <span class="copyright">&copy; T&G - 2017 | By LilSaint</span>
    </div>
</footer>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/app.js"></script>
<script src="js/channels.js"></script>
<script>$(function(){app.channels()});</script>
</body>
</html>