<% include header %>
<div class="container">
    <div class="row">
        <div class="col s4 center-block socialBtn">
            <div class="card-panel">
                <p>Login via</p>
                <div class="row">
                    <a href="/auth/facebook" class="btn btn-waves #01579b light-blue darken-4"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="/auth/facebook" class="btn btn-waves #01579b light-blue darken-4">Sign In with Facebook</a>
                </div>
                <div class="row">
                    <a href="/auth/twitter" class="btn btn-waves #039be5 light-blue darken-1"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="/auth/twitter" class="btn btn-waves #039be5 light-blue darken-1">Sign In with Twitter</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s4 center-block">
            <div class="card-panel">
                <form action="/register" method="post" class="center registerForm hiddenSignup">
                    <div class="row">
                        <div class="input-field col s10 center-block">
                            <input type="text" name="username" class="validate">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 center-block">
                            <input type="password" name="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <button type="submit" class="btn waves-effect waves-light #66bb6a green lighten-1" name="action">Sign Up
                        <i class="material-icons right">send</i>
                    </button>
                    <p>Déjà inscrit ? <a href="#" class="loginBtn">Connecte toi</a></p>
                    <% if (errors !== null && showRegisterForm !== null && showRegisterForm === true) { %>
                        <% errors.forEach(function(err){ %>
                            <p class="message error"><%= err %></p>
                        <% }); %>
                    <% } %>
                </form> <!-- End Of RegisterForm -->
                <form action="/login" method="post" class="center loginForm hiddenLogin">
                    <div class="row">
                        <div class="input-field col s10 center-block">
                            <input type="text" name="username" class="validate">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 center-block">
                            <input type="password" name="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <button type="submit" class="btn waves-effect waves-light #66bb6a green lighten-1" name="action">Log In
                        <i class="material-icons right">send</i>
                    </button>
                    <p>Pas encore inscrit ? <a href="#" class="signupBtn"> Inscris toi</a></p>
                    <% if (errors !== null && showRegisterForm === null) { %>
                        <% errors.forEach(function(err) { %>
                            <p class="error"><%= err %></p>
                        <% }); %>
                    <% } if (success !== null && showRegisterForm === null) { %>
                        <p class="success"><%= success %></p>
                    <% } %>
                </form> <!-- End Of LoginForm -->
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="container">
        <span class="copyright">&copy; T&G - 2017 | By LilSaint</span>
    </div>
</footer>
<script src="js/jquery-3.2.1.min.js"></script>
<!--< % if (showRegisterForm !== null && showRegisterForm === true % >-->
<!--<script src="/socket.io/socket.io.js"></script>-->
<script src="js/app.js"></script>
<script src="js/materialize.min.js"></script>
</body>
</html>


